@keyframes slide-up-token {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up-token {
    animation: slide-up-token 1s ease forwards;
}

@keyframes slide-down-token {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slide-down-token {
    animation: slide-down-token 1s ease forwards;
}