:root {
    font-size: 16px;
    --main-green-col: #29b968;
    --blur-green-col: #29b967c0;
    --dark-green-col: #004c21;
    --main-white-col: #ffffff;
    --main-black-col: #000;
    --main-yellow-col: #e7bb3f;
    --blur-yellow-col: #e7ba3f5c;
    --chakra-font: "Chakra Petch", sans-serif;
    --fredoka-font: "Fredoka", sans-serif;
    --blur-black-col: #0000002d;
    scroll-behavior: smooth;
}

@keyframes slide-up-token {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up-token {
    animation: slide-up-token 1s ease forwards;
}

@keyframes slide-down-token {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slide-down-token {
    animation: slide-down-token 1s ease forwards;
}

.navigation {
    --blur: 0.4rem;
    width: 100%;
    padding: .5rem 0.2rem;
    background-color: var(--blur-black-col);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border: 2px solid var(--main-black-col);
    border-right-color: transparent;
    z-index: 100;
    border-left-color: transparent;
    bottom: 0;
    position: absolute;
    color: var(--main-white-col);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.navigation[role="footer navigation"] {
    transform-origin: bottom center;
}

.navigation.fixed {
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.navigation.fixed.show {
    opacity: 1;
}

.navigation_ul {
    display: flex;
    gap: 0.5rem;
}

.navigation_ul li a {
    position: relative;
    width: 2.8rem;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}


/* .footer {
    aspect-ratio: 375/823;
    width: 100%;
    position: relative;
    background-image: url(./assets/footer-sm.png);
    background-size: cover, cover;
    overflow: hidden;
    background-position: top center, top center;
    background-repeat: no-repeat, no-repeat;
} */


/* .footer_img {
    margin-top: 2.5rem;
    max-width: min(307px, 80vw);
    width: 100%;
    aspect-ratio: 308/88;
    margin-inline: auto;
}

.footer_img * {
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

.footer_disclaimer {
    text-align: center;
    font-size: 0.6rem;
}

.footer_disclaimer p:first-child {
    margin-bottom: 0.5rem;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
} */

.to_top {
    display: none;
    gap: 1rem;
    align-items: center;
}

@media (min-width: 768px) {
    .navigation {
        flex-direction: row;
        padding: 1rem 2rem;
    }
    .navigation_ul {
        gap: 0.625 rem;
    }
    .hero,
    .footer {
        aspect-ratio: 1440/816;
        height: auto;
        background-position: top left;
    }
    /* .footer {
        background-image: url(./assets/footer.png);
    }
    .footer_img {
        margin-top: 3.75rem;
        aspect-ratio: 496/140;
        max-width: min(50vw, 496px);
    }
    .footer_disclaimer {
        font-size: 1rem;
        max-width: 60vw;
    }
    .footer_disclaimer p:first-child {
        margin-bottom: 0.5rem;
    } */
    .to_top {
        display: flex;
    }
}

.marquee_container {
    overflow: hidden;
    border: 0.25rem solid var(--main-black-col);
    border-left-color: var(--main-green-col);
    border-right-color: var(--main-green-col);
    padding: 0.8rem 0;
    background-image: linear-gradient(var(--main-green-col) 82%, var(--dark-green-col));
    box-shadow: 0px 3px 4x var(--main-black-col), inset(0px 3px 4x var(--main-black-col));
}