@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Neufreit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/Neufreit-ExtraBold.otf) format('otf');
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Marker';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./assets/PermanentMarker-Regular.ttf) format('ttf');
}

.Marker {
    font-family: 'Maker';
}

body {
    font-family: 'Neufreit', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5b5b5b;
    background-color: #000000;
    margin: 0 auto;
    font-weight: 900;
}

.toggle .right-rotate {
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .middle_hidden {
    opacity: 0;
}

.toggle .left-rotate {
    transform: rotate(-45deg) translate(5px, -6px);
}

.MytextShadow {
    text-shadow: 4px 5px 0px black;
}

.MyBigShadow {
    text-shadow: 5px 7px 0px black;
}


/* *********************************************** */

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( ellipse 50% 35% at 50% 50%, #6b1839, transparent);
    letter-spacing: 2;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 5vw;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}


/* *********************************************** */


/* *********************************************** */

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* *********************************************** */